	body
	{
		font-family: Verdana;
	}	
	h1
	{
		font-size: 26px;
	}
	
	#container
	{
		margin-left: auto;
		margin-right: auto;
	}	
	#logo
	{
		background-color: black;
		color: white;
		text-align: center;
		padding: 10px;
	}
	#nav
	{
		background-color: lightgray;
		padding: 10px;
	}
	#content
	{
		background-color: white;	
		min-height: 400px;
		padding: 10px;		
	}
	
	#footer
	{
		background-color: black;
		color: white;		
		text-align: center;
		padding: 10px;	
	}
	
/*nieodwiedzony link*/
a:link
{	
}
/*odwiedzony*/
a:visited
{
}
/*po najechaniu*/
a:hover
{
}